<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 공통 로그 패턴 -->
    <property name="CONSOLE_LOG_PATTERN" value="%boldMagenta(%d{YYYY-MM-dd HH:mm:ss}) [%thread] [%boldYellow(%-5level)] %cyan(%logger{5}.%M) - %msg %n" />
    <property name="FILE_LOG_PATTERN" value="%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %5level %logger - %msg%n" />

    <!-- 로그 파일명 -->
    <springProperty name="FILENAME" source="logging.filename" defaultValue="alba" />
    <!-- 로그 파일 저장 위치 -->
    <springProperty name="LOG_PATH" source="logs.path" defaultValue="./logs"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <springProfile name="dev">
        <logger name="jdbc.resultsettable" level="WARN"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>
    <springProfile name="!dev">
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_PATH}/${FILENAME}.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_PATH}/${FILENAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>7</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>${FILE_LOG_PATTERN}</pattern>
                <immediateFlush>true</immediateFlush>
            </encoder>
        </appender>

        <logger name="jdbc.resultsettable" level="WARN"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE" />
        </root>
    </springProfile>

</configuration>
